.billing__page__table {
  &__content {
    & ul {
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: space-between;
      align-items: center;
      font-weight: 600;
      padding: 12px 16px;
      margin-bottom: 0;
    }

    .table__heading {
      font-size: 14px;
      color: #62618f;
      & :last-child {
        justify-self: center;
      }
    }
    .table__row {
      margin: 0;
      border-radius: 0.5rem;
      color: #1a194d;
      &:hover {
        box-shadow: 0px 8px 19px rgba(223, 223, 253, 0.6);
        background-color: white;
      }

      & .btn__download {
        border: 1px solid #cbcbd9;
        border-radius: 4px;
        padding: 7px 16px;
        border-radius: 8px;
        width: fit-content;
        justify-self: end;
      }
    }
  }
  &__loadmore {
    margin-top: 1rem;
    color: #ee4d38;
    font-weight: 600;
    text-decoration: underline;
    margin-left: 1rem;
  }
}
