.payment_method {
  &__container {
    grid-column: 1;
  }

  &__display {
    display: flex;
    margin-top: 22px;
    align-items: center;

    & button {
      border: 1px solid #cbcbd9;
      border-radius: 4px;
      padding: 7px 16px;
      border-radius: 8px;
      width: fit-content;
      justify-self: end;
      height: fit-content;
      font-weight: 600;
    }
  }

  &__imglabel {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    color: #1a194d;
    font-weight: 600;
    flex: 1;
  }
}
