@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
html,
body,
#__next {
  margin: 0;
  height: 100%;
}

h1,
p {
  margin: 0;
}
a,
button {
  all: unset;
}
